body {
    margin: 0;
    padding: 0;
} 
header {
    margin-top: 20px;
    margin-left: 60px;
    font-weight: bold;
    font-family: Inconsolata;
}
img {
    width: 400px;
    margin-top: 90px;
    margin-left: 200px;
}
div {
    display: inline-block;
    vertical-align: auto;
    margin-left: 100px;
    font-family: space mono;
}
button {
    background-color: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    border: 0;
    margin-top: 30px;
}
footer {
    color: gray;
    text-align: center;
    margin-top: 140px;
}
span {
    color: rgb(80, 80, 80);
}

